
  @import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    font-family: 'Lato', sans-serif;
}
.outer-box{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to top left, #595baf, #a28eb9)  ;
}
.inner-box{
    width: 400px;
    position: relative;
    margin: 0 auto;
    top: 40%;
    transform: translateY(-50%);
    padding: 20px 40px;
    background-color: #ffffff33;
    /* backdrop-filter: blur(8px); */
    border-radius: 8px;
    box-shadow: 2px 2px 5px  #780ce4ba;
    z-index: 2;

}
.signup-header h1{
    font-size: 2.5rem;
    color: #212121;

} 
.signup-header p{
    font-size: 1em;
    color: #555

}
.signup-body p{
    margin: 10px 0;


}
.signup-body label p{
    display: block;
    font-weight: bold;

}
.signup-body p input{
    width: 100%;
    padding: 10px;
    border: 2px solid   #9d5cdfba;
   
    border-radius: 8px;
    font-size:  1rem;
    margin-top: 5px;
}
.signup-body p input[type="submit"]{
    background-color:  #780ce4ba;
    border: none;
    color: rgb(2, 9, 15);
    cursor: pointer;

}
.signup-body p input[type="submit"]:hover{
    background-color: #780ce470;
    font-weight: bold;
}
.signup-footer{
    text-align: center;


}
.signup-footer p a{
    color:  #7b0ceb72;
    

}
.circle{
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background: linear-gradient(to top right, #ffffff33, #ffffff);
    position: absolute;
}
 .circle c1{
    top : 100px;
    left: 40px;
}
.c2{
    bottom: 200px;
    right: 50px;
} 